

/* main styles */
body{
    background-color: #1A0B2E ;
    font-family: "inter";
}
.container{
 margin: 0 auto;
 max-width: 1600px;
}


/* shared styles */
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding:12px 16px;
    color: white;
    width: 180px;
    font-weight: 600;
    border-radius: 10000px;
    width: max-content;
    border: 0;
    background:linear-gradient(47deg,#F7E93F,#FB09B4,#9100F8);
}
.section-header{
 font-weight: bold;
 font-size: 48px;
 text-align: center;
 color: white;
}
.section-sub-header{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}
.paragraph{
    color: 	#FFFFFF99;
}


/* header secttion styles */
header{
color: white;
padding: 0 120px;
height: 100px;
border-bottom: 0.1px solid #ffffff1b ;
padding-bottom: 30px;

}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding:12px 16px;
    color: white;
    width: max-content;
    font-weight: 600;
    border-radius: 10000px;
    border: 0;
    background:linear-gradient(47deg,#F7E93F,#FB09B4,#9100F8);
}

nav{
 display: flex; justify-content: space-between; gap: auto; align-items: center;
}
nav h2{
 color: white;
 font-weight: 900;
 font-size: 3rem;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul a{
  text-decoration: none;
  color:#FFFFFFCC;
  font-size: 16px;
}
     .nav-menu{
    display: none;
    visibility: hidden ;}

.gradient-text{
    color: transparent;
    background:linear-gradient(47deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text; 
}



/* hero banner section style  */
.hero-background{
 background-image: url("../assets/herobg.png");
 background-repeat: no-repeat;
 background-position: center;
 max-width: 1600px;
 


}
.hero-section{
    padding-top: 100px;
     padding-bottom: 100px;
      margin:0 auto;
      
}

.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding:12px 16px;
    color: #00ff88;
    background-color: transparent;
    font-weight: 600;
    border-radius: 10000px;
    width: max-content;
    border: 1px solid #00ff88;
}
.btn1:hover,
.nav-btn:hover{
    cursor: pointer;
     background:linear-gradient(90deg,#7c11ff,#2784ad,#00D4FF);
    
}
.video-card:hover,
.grid1:hover,
.grid2:hover,
.grid3:hover{

    cursor: pointer;
     background:linear-gradient(47deg,#4339c5,#b6734d,#d322ff63);

}
.btn2:hover{
    background-color:#88e9ff;
    color: #00ff88;
    border: none;
    cursor: pointer;
}

.hero-data{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-data h2{
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 12px;
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}
.hero-bg{
    padding: 150px;
      background-image: url(../assets/hero-circle.png);
      background-position: center;
      background-size: 355px 355px;
      background-repeat: no-repeat;

}
.hero-bg{
      display: inline-block;
      animation: spin-mic 4s ease-in-out infinite;
}
    @keyframes spin-mic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Hero-middle{
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 200px;
  align-items: center;
  margin: 0px auto;
  position: relative;

}
.btn-new{
    padding: 4px 12px;
    background-color: #00ff88;
    border-radius: 10000px;
    width: max-content;
    margin-left: 300px;
    position: absolute;
    bottom: 77%;
    border: none;
    box-shadow: 1px 1px 15px 1px #00ff88;

}
.new-icon{
    font-size: 18px;
    font-weight: 600;
}

 /* About podcast section styles */



 .podcast{
    padding: 0 120px;

 }
 .podcast-details{
    text-align: center;
    color: white;
    padding-top: 50px;

 
 }
 .podcast-details p{
       line-height: 24px;
       color: #FFFFFFCC;
       padding-bottom: 80px;
         border-bottom: 0.1px solid #ffffff1b ;

 }
  .info-data{
    color: #00ff88;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
  }
  .podcast-card{
  display: flex;
  justify-content: space-between;
       color: #FFFFFFCC;
       gap: 80px;
       padding-bottom: 80px;

}
.content{
    padding: 24px;
}

  
 /* grid column rows section style  */
  .grid-container{
    background-color: #230E3D;
    padding: 120px 120px;
  }
 .grid-card{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 30px;


 }
 .grid1, .grid2, .grid3{
    padding-left: 30px;
    background-color: #3b1569;
    border-radius: 40px;
 }
 .grid1{
    grid-row: span 2;
    padding-top: 80px;
 }
 .grid2{
    grid-column: span 2;
    padding: 30px;
 }
 .grid3{
    padding: 30px;
 }

 
   
 /* feature section styles */
 
 .features{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
 }
 .video-link{
    border-radius: 24px 24px 0px 0px;
 }
 .video-card{
    display: flex;
    flex-direction: column;
   border-radius: 20px;

   width: 380px;
   background-color: #230E3D ;
 }
 iframe {
  border-radius: 20px 20px 0 0; /* Rounds only the top two corners */
  border: none;
}
 
 /* host section style  */
 .host{
    max-width: 1600px;
    margin-bottom: 120px;
    padding: 0, 120px;
 }
 .host-data{
    background-color:  #230E3D ;
    display: flex;
    gap:24px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin: 20px 20px;


 }
  .host-icon{
    display: flex;
    gap: 8px;
  }
 .social-icon img{
   max-width: 100%;
   max-height: 100%;
   object-fit: contain;
  }
 .social-icon{
    border: 1px solid #533C72;
    width: 40px;
    height: 40px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer related styles */
.footer-container{
    background-image: url("../assets/footer-bg.png");
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 170px;
}
.footer-container h2{
    color: white;
 font-weight: 900;
 font-size: 4rem;
 margin-bottom: 30px;

}
.footer-icon{
    display: flex;
    gap: 40px;
    margin-bottom: 32px;
    justify-content: center;
}
.footer-image{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.footer-image img{
    height: 20px;
    width: 20px;
}








/* laptop device media query */

@media screen and (min-width:992px) and (max-width:100%) {

    .nav-menu{
    display: none;
    visibility: hidden ;
}
}


/* tablet Device media screen query */
  @media screen  and (min-width:577px) and (max-width:991px){

.nav-menu{
    display: contents;
    visibility: visible;
    }

    nav ul,button{
        display: none;
        visibility: hidden;
    }
    nav{
    display: flex; justify-content: center;

  
    }
    .hero-section,button{
        display: contents;
        visibility: visible;
    }
}




/* Mobile Device Media query */

 @media screen and (max-width:576px) {
   .container{
    margin: 0 auto;
     width: 100%;
    }

   header{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;

   }
nav h2{
 font-weight: 800;
 font-size: 2.3rem;
}
    .nav-menu{
    display: contents;
    visibility: visible;

    }

    nav ul, .nav-btn{
        display: none;
        visibility: hidden;
    }
    nav{
    display: flex;
     justify-content: space-between;
     gap: 120px;
     

}

.hero-background{
 background-image: url("../assets/herobg.png");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 170% 100%;
 max-width: 100%;
  justify-content: center;
  align-items: center;
 margin: 0 auto;
 padding: 20px;


}
.hero-section{
    padding-top: 10px;
    padding-bottom: 10px;
      margin:0 auto;
}

.hero-data{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero-data h2{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 0;
}

.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 60px;
}
.hero-bg{
      background-image: url(../assets/hero-circle.png);
      background-position: center;
      background-size: 180px 180px;
      background-repeat: no-repeat;
      height: 80px;

}
.hero-bg{
      display: inline-block;
      animation: spin-mic 4s ease-in-out infinite;
}
    @keyframes spin-mic {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn1{
    width: max-content;
}

.Hero-middle{
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100px;
  align-items: center;
  margin: 0px auto;
  position: relative;

}
.btn-new{
    padding: 4px 12px;
    background-color: #00ff88;
    border-radius: 10000px;
    width: max-content;
    margin-left: 187px;
    position: absolute;
    bottom: 65%;
    border: none;
    box-shadow: 1px 1px 15px 1px #00ff88;

}
.new-icon{
    font-size: 16px;
    font-weight: 600;
}
      

/* podcast mobile query */
 .podcast{
    padding: 16px;

 }
  .podcast-details{
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
 }
.podcast-card{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: center;
padding: 20px;
gap: 20px;
text-align: center;
 }
 .podcast-details p{
       line-height: 24px;
       padding-bottom: 20px;
 }


  .info-data{
    font-size: 2rem;
  }
  .grid-container{
    padding: 20px 20px;
    align-items: center;
    margin: 0 auto;
    width: max-content;
  }
 .grid1, .grid2, .grid3{
    padding: 16px;
    background-color: #3b1569;
    border-radius: 40px;
    padding-left: 16px;
 }
.grid-card{
     display:flex;
     grid-template-columns: repeat(1,1fr);
     gap: 10px;
     flex-direction: column;
     width: 380px;
     

}


 .features{
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
 }
 .section-header{
 font-weight: bold;
 font-size: 2rem;
 text-align: center;
 color: white;
}
.section-sub-header{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}


.host{
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
 }
 .host-data{
    background-color:  #230E3D ;
    display: flex;
    flex-direction: column;
    gap:24px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 24px;
 }
   .host-icon{
    display: flex;
    justify-content: center;
    gap: 8px;
  }

.footer-icon{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 32px;
}
 .footer-container{   background-image: url("../assets/footer-bg.png");
   
    background-size:150% 100%;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 120px;
    justify-content: center;
    padding: 20px 20px;
} 
.footer-container h2{
    color: white;
 font-size: 2rem;
 margin-top: 20px;
 margin-bottom:14px;
 text-align: center;

}
.footer-container{
    margin-top: 24px;
    margin-bottom: 40px;
}
.footer-icon{
    display: grid;
    grid-template-columns:2;
    margin-bottom: 5px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 1px;
}
.footer-image{
        display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    text-align: center;
}
}